
<link rel="stylesheet" href="css/commentadd.css">

<div class="container" id="commentBox">




    <div class="row">
		
	</div>


    <div class="row">


    <div class="col-xs-12 col-md-6 col-md-offset-1">
    <h3>How about you?</h3>

        <div class="widget-area no-padding blank">

            <div class="status-upload">

                <form id="commentWrite" data-artid="{{articles._id}}">

                    <label for="yourname">Name</label>

                    <input type="text" name="yourname" id="yourname"></input>

                        <textarea placeholder="Leave a Comment" ></textarea>

										<button type="submit" class="btn btn-success green"><i class="fa fa-share"></i> Share</button>
                </form>
            </div>
        </div>
    </div>
        
    </div>
</div>