
<div id="footer">
    <div class="container">

        <div class="row">
        <div style="top: -130px; border: 1px solid; border-radius: 30px;"class="col-xs-2 col-xs-offset-5 text-center">
        <a href="#pagetop" alt="link to return to top of page"><i class="fa fa-angle-double-up fa-3x" aria-hidden="true"></i><br><h6>Home</h6></a>
        </div>
        <br>
        <br>
          <div class="col-xs-6 col-xs-offset-3 text-center">
            <h4>Author: Cason Gordy</h4>
            <hr>
            <br>
          </div>             
        </div>
    </div>
</div>